ul{
    display: flex;
    list-style-type: none;
}

li{
    padding-left: 1em;
}
p{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.icon-file{
    margin-top: 0.5em; 
    width: 3em;
}
.icon-folder{
    width: 2em;
}
